## Customer Segmentation Analysis

In [2]:
import pandas as pd

In [3]:
df_orders = pd.read_excel('orders.xlsx', sheet_name='Sheet1')

In [4]:
df_bikeshops = pd.read_excel('bikeshops.xlsx', sheet_name = 'Sheet1')

In [5]:
df_bikes = pd.read_excel('bikes.xlsx', sheet_name = 'Sheet1')

In [6]:
df_orders.head()

   order.id  order.line order.date  customer.id  product.id  quantity
1         1           1 2011-01-07            2          48         1
2         1           2 2011-01-07            2          52         1
3         2           1 2011-01-10           10          76         1
4         2           2 2011-01-10           10          52         1
5         3           1 2011-01-10            6           2         1

In [7]:
df_bikeshops.head()

,bikeshop.id,bikeshop.name,bikeshop.city,bikeshop.state,latitude,longitude
0,1,Pittsburgh Mountain Machines,Pittsburgh,PA,40.440625,-79.995886
1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881
2,3,Columbus Race Equipment,Columbus,OH,39.961176,-82.998794
3,4,Detroit Cycles,Detroit,MI,42.331427,-83.045754
4,5,Cincinnati Speed,Cincinnati,OH,39.103118,-84.512020

In [8]:
df_bikes.head()

,bike.id,model,category1,category2,frame,price
0,1,Supersix Evo Black Inc.,Road,Elite Road,Carbon,12790
1,2,Supersix Evo Hi-Mod Team,Road,Elite Road,Carbon,10660
2,3,Supersix Evo Hi-Mod Dura Ace 1,Road,Elite Road,Carbon,7990
3,4,Supersix Evo Hi-Mod Dura Ace 2,Road,Elite Road,Carbon,5330
4,5,Supersix Evo Hi-Mod Utegra,Road,Elite Road,Carbon,4260

In [9]:
df_merged = df_orders.merge(df_bikeshops, left_on = 'customer.id', right_on= 'bikeshop.id')

In [10]:
df_merged.head()

,order.id,order.line,order.date,customer.id,product.id,quantity,bikeshop.id,bikeshop.name,bikeshop.city,bikeshop.state,latitude,longitude
0,1,1,2011-01-07,2,48,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881
1,1,2,2011-01-07,2,52,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881
2,19,1,2011-01-28,2,66,2,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881
3,19,2,2011-01-28,2,61,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881
4,28,1,2011-02-10,2,47,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881

In [11]:
df_merged = df_merged.merge(df_bikes, left_on= 'product.id', right_on = 'bike.id')

In [12]:
df_merged.head()

,order.id,order.line,order.date,customer.id,product.id,quantity,bikeshop.id,bikeshop.name,bikeshop.city,bikeshop.state,latitude,longitude,bike.id,model,category1,category2,frame,price
0,1,1,2011-01-07,2,48,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070
1,132,6,2011-05-13,2,48,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070
2,507,2,2012-06-26,2,48,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070
3,528,18,2012-07-16,2,48,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070
4,691,13,2013-02-05,2,48,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070

Removing duplicate columns

In [13]:
df_merged = df_merged.drop(['customer.id'], axis=1)

In [14]:
df_merged = df_merged.drop(['product.id'], axis=1)

In [15]:
df_merged.head()

,order.id,order.line,order.date,quantity,bikeshop.id,bikeshop.name,bikeshop.city,bikeshop.state,latitude,longitude,bike.id,model,category1,category2,frame,price
0,1,1,2011-01-07,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070
1,132,6,2011-05-13,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070
2,507,2,2012-06-26,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070
3,528,18,2012-07-16,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070
4,691,13,2013-02-05,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070

In [16]:
df_merged['price'] = df_merged['price'].apply(lambda x: 'high' if x > df_merged['price'].median() else 'low')

In [17]:
df_merged.head()

,order.id,order.line,order.date,quantity,bikeshop.id,bikeshop.name,bikeshop.city,bikeshop.state,latitude,longitude,bike.id,model,category1,category2,frame,price
0,1,1,2011-01-07,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,high
1,132,6,2011-05-13,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,high
2,507,2,2012-06-26,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,high
3,528,18,2012-07-16,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,high
4,691,13,2013-02-05,1,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,high

In [19]:
df_grouped = df_merged.groupby(by=['bikeshop.name', 'model', 'category1', 'category2', 'frame', 'price'], as_index=False).agg({'quantity': 'sum'})

In [20]:
bikeshop_names = df_grouped['bikeshop.name'].unique()

In [21]:
df_grouped.head()

,bikeshop.name,model,category1,category2,frame,price,quantity
0,Albuquerque Cycles,Bad Habit 1,Mountain,Trail,Aluminum,high,5
1,Albuquerque Cycles,Bad Habit 2,Mountain,Trail,Aluminum,low,2
2,Albuquerque Cycles,Beast of the East 1,Mountain,Trail,Aluminum,high,3
3,Albuquerque Cycles,Beast of the East 2,Mountain,Trail,Aluminum,low,3
4,Albuquerque Cycles,Beast of the East 3,Mountain,Trail,Aluminum,low,1

In [22]:
model_pivot = pd.pivot_table(df_grouped, index=['model', 'category1', 'category2', 'frame', 'price'], columns = ['bikeshop.name'], values='quantity', fill_value=0)

In [23]:
model_pivot.head()

,,,,bikeshop.name,Albuquerque Cycles,Ann Arbor Speed,Austin Cruisers,Cincinnati Speed,Columbus Race Equipment,Dallas Cycles,Denver Bike Shop,Detroit Cycles,Indianapolis Velocipedes,Ithaca Mountain Climbers,...,Philadelphia Bike Shop,Phoenix Bi-peds,Pittsburgh Mountain Machines,Portland Bi-peds,Providence Bi-peds,San Antonio Bike Shop,San Francisco Cruisers,Seattle Race Equipment,Tampa 29ers,Wichita Speed
model,category1,category2,frame,price,,,,,,,,,,,,,,,,,,,,,
Bad Habit 1,Mountain,Trail,Aluminum,high,5,4,2,2,4,3,27,5,2,23,...,6,16,6,7,5,4,1,2,4,3
Bad Habit 2,Mountain,Trail,Aluminum,low,2,6,1,0,0,4,32,8,1,14,...,1,27,1,7,13,0,1,1,0,0
Beast of the East 1,Mountain,Trail,Aluminum,high,3,9,2,0,0,1,42,6,3,27,...,0,18,2,7,5,1,0,2,2,0
Beast of the East 2,Mountain,Trail,Aluminum,low,3,6,2,0,2,1,35,3,3,23,...,0,33,4,10,8,2,1,3,6,1
Beast of the East 3,Mountain,Trail,Aluminum,low,1,2,0,0,1,1,39,6,0,13,...,5,23,1,13,4,6,0,1,2,0

Normalizing individual columns

In [24]:
for i in model_pivot.columns:
    model_pivot.loc[:,i] = model_pivot.loc[:,i].apply(lambda x: x/model_pivot[i].sum())

In [25]:
model_pivot.T.head()

model,Bad Habit 1,Bad Habit 2,Beast of the East 1,Beast of the East 2,Beast of the East 3,CAAD Disc Ultegra,CAAD12 105,CAAD12 Black Inc,CAAD12 Disc 105,CAAD12 Disc Dura Ace,...,Synapse Sora,Trail 1,Trail 2,Trail 3,Trail 4,Trail 5,Trigger Carbon 1,Trigger Carbon 2,Trigger Carbon 3,Trigger Carbon 4
category1,Mountain,Mountain,Mountain,Mountain,Mountain,Road,Road,Road,Road,Road,...,Road,Mountain,Mountain,Mountain,Mountain,Mountain,Mountain,Mountain,Mountain,Mountain
category2,Trail,Trail,Trail,Trail,Trail,Elite Road,Elite Road,Elite Road,Elite Road,Elite Road,...,Endurance Road,Sport,Sport,Sport,Sport,Sport,Over Mountain,Over Mountain,Over Mountain,Over Mountain
frame,Aluminum,Aluminum,Aluminum,Aluminum,Aluminum,Aluminum,Aluminum,Aluminum,Aluminum,Aluminum,...,Aluminum,Aluminum,Aluminum,Aluminum,Aluminum,Aluminum,Carbon,Carbon,Carbon,Carbon
price,high,low,high,low,low,low,low,high,low,high,...,low,low,low,low,low,low,high,high,high,high
bikeshop.name,,,,,,,,,,,,,,,,,,,,,
Albuquerque Cycles,0.017483,0.006993,0.01049,0.010490,0.003497,0.013986,0.006993,0.000000,0.013986,0.048951,...,0.000000,0.000000,0.003497,0.006993,0.017483,0.010490,0.006993,0.003497,0.006993,0.006993
Ann Arbor Speed,0.006645,0.009967,0.01495,0.009967,0.003322,0.026578,0.014950,0.016611,0.014950,0.008306,...,0.009967,0.009967,0.014950,0.009967,0.003322,0.011628,0.000000,0.000000,0.000000,0.011628
Austin Cruisers,0.008130,0.004065,0.00813,0.008130,0.000000,0.020325,0.020325,0.004065,0.024390,0.008130,...,0.020325,0.016260,0.016260,0.016260,0.008130,0.008130,0.000000,0.000000,0.000000,0.016260
Cincinnati Speed,0.005115,0.000000,0.00000,0.000000,0.000000,0.015345,0.010230,0.015345,0.007673,0.017903,...,0.012788,0.000000,0.002558,0.002558,0.002558,0.000000,0.010230,0.007673,0.010230,0.020460
Columbus Race Equipment,0.010152,0.000000,0.00000,0.005076,0.002538,0.010152,0.027919,0.027919,0.025381,0.012690,...,0.015228,0.002538,0.002538,0.005076,0.000000,0.000000,0.010152,0.005076,0.017766,0.005076

So we are clustering different bike models based on their quantity purchased (across different bike shops).

In [26]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
import numpy as np

In order to obtain a optimal value for the number of clusters, I use silhouette analysis. Silhouette analysis can be used to study the separation distance between the resulting clusters.

In [27]:
cluster_sizes = [i for i in range(4,9)]

### k-means

In [28]:
best_k = None
best_score = -np.inf
for k in cluster_sizes:
    kmeans = KMeans(n_clusters=k, random_state=90)
    labels = kmeans.fit_predict(model_pivot.T)
    silhouette_vals = silhouette_samples(model_pivot.T, labels)
    avg_score = np.mean(silhouette_vals)
    
    print('Cluster size: {}, Score: {}'.format(str(k), str(avg_score)))
    if avg_score > best_score:
        best_k = k
        best_score = avg_score
print('Optimal Cluster size: ', best_k)

Cluster size: 4, Score: 0.17628084123482804
Cluster size: 5, Score: 0.17881270878689673
Cluster size: 6, Score: 0.15308714267240162
Cluster size: 7, Score: 0.1652600316390975
Cluster size: 8, Score: 0.12135881839897107
Optimal Cluster size:  5

In [29]:
result = KMeans(n_clusters=best_k, random_state=90)

In [30]:
labels = result.fit_predict(model_pivot.T)

Printing customer names in each segment

In [31]:
print('Bikeshop Name', ':', 'Cluster Number')
clusters = {}
for idx, i in enumerate(labels):
    if i in clusters:
        clusters[i].append(model_pivot.T.index[idx])
    else:
        clusters[i] = []
        clusters[i].append(model_pivot.T.index[idx])

Bikeshop Name : Cluster Number

In [32]:
clusters

{1: ['Albuquerque Cycles',
  'Dallas Cycles',
  'Denver Bike Shop',
  'Detroit Cycles',
  'Kansas City 29ers',
  'Los Angeles Cycles',
  'Minneapolis Bike Shop',
  'New York Cycles',
  'Phoenix Bi-peds',
  'Portland Bi-peds',
  'Providence Bi-peds'],
 3: ['Ann Arbor Speed',
  'Austin Cruisers',
  'Indianapolis Velocipedes',
  'Miami Race Equipment',
  'Nashville Cruisers',
  'New Orleans Velocipedes',
  'Oklahoma City Race Equipment',
  'Seattle Race Equipment'],
 2: ['Cincinnati Speed',
  'Columbus Race Equipment',
  'Las Vegas Cycles',
  'Louisville Race Equipment',
  'San Francisco Cruisers',
  'Wichita Speed'],
 0: ['Ithaca Mountain Climbers',
  'Pittsburgh Mountain Machines',
  'Tampa 29ers'],
 4: ['Philadelphia Bike Shop', 'San Antonio Bike Shop']}

In [33]:
custSegmentCntrs = pd.DataFrame(result.cluster_centers_.T)

In [34]:
custSegmentCntrs.shape

(97, 5)

5 cluster center vectors in 97 dimensions

In [35]:
custSegmentCntrs.head()

          0         1         2         3         4
0  0.017843  0.012131  0.005509  0.010127  0.022998
1  0.004576  0.014289  0.000446  0.008157  0.002041
2  0.012125  0.014094  0.000267  0.012970  0.002688
3  0.019311  0.013655  0.002464  0.010810  0.005376
4  0.007549  0.010792  0.001801  0.005640  0.026333

Cross checking my cluster centroid calculations for cluster 4

In [36]:
list(model_pivot.T.index).index('Philadelphia Bike Shop')

20

In [37]:
list(model_pivot.T.index).index('San Antonio Bike Shop')

25

In [38]:
model_pivot.T.iloc[[20,25],:].sum()/2

model                            category1  category2           frame     price
Bad Habit 1                      Mountain   Trail               Aluminum  high     0.022998
Bad Habit 2                      Mountain   Trail               Aluminum  low      0.002041
Beast of the East 1              Mountain   Trail               Aluminum  high     0.002688
Beast of the East 2              Mountain   Trail               Aluminum  low      0.005376
Beast of the East 3              Mountain   Trail               Aluminum  low      0.026333
CAAD Disc Ultegra                Road       Elite Road          Aluminum  low      0.010851
CAAD12 105                       Road       Elite Road          Aluminum  low      0.027079
CAAD12 Black Inc                 Road       Elite Road          Aluminum  high     0.004082
CAAD12 Disc 105                  Road       Elite Road          Aluminum  low      0.020957
CAAD12 Disc Dura Ace             Road       Elite Road          Aluminum  high     0.002688
CAAD12 Red                       Road       Elite Road          Aluminum  high     0.007417
CAAD12 Ultegra                   Road       Elite Road          Aluminum  low      0.010204
CAAD8 105                        Road       Elite Road          Aluminum  low      0.004729
CAAD8 Claris                     Road       Elite Road          Aluminum  low      0.019563
CAAD8 Sora                       Road       Elite Road          Aluminum  low      0.012794
CAAD8 Tiagra                     Road       Elite Road          Aluminum  low      0.016974
Catalyst 1                       Mountain   Sport               Aluminum  low      0.014187
Catalyst 2                       Mountain   Sport               Aluminum  low      0.014187
Catalyst 3                       Mountain   Sport               Aluminum  low      0.010105
Catalyst 4                       Mountain   Sport               Aluminum  low      0.009458
F-Si 1                           Mountain   Cross Country Race  Aluminum  low      0.009458
F-Si 2                           Mountain   Cross Country Race  Aluminum  low      0.012794
F-Si 3                           Mountain   Cross Country Race  Aluminum  low      0.011499
F-Si Black Inc.                  Mountain   Cross Country Race  Carbon    high     0.002041
F-Si Carbon 2                    Mountain   Cross Country Race  Carbon    high     0.007417
F-Si Carbon 4                    Mountain   Cross Country Race  Carbon    high     0.022449
F-Si Hi-Mod 1                    Mountain   Cross Country Race  Carbon    high     0.002688
F-Si Hi-Mod Team                 Mountain   Cross Country Race  Carbon    high     0.002688
Fat CAAD1                        Mountain   Fat Bike            Aluminum  high     0.002041
Fat CAAD2                        Mountain   Fat Bike            Aluminum  low      0.014834
                                                                                     ...
Supersix Evo Hi-Mod Utegra       Road       Elite Road          Carbon    high     0.009458
Supersix Evo Red                 Road       Elite Road          Carbon    high     0.002041
Supersix Evo Tiagra              Road       Elite Road          Carbon    low      0.017522
Supersix Evo Ultegra 3           Road       Elite Road          Carbon    high     0.010851
Supersix Evo Ultegra 4           Road       Elite Road          Carbon    low      0.016875
Syapse Carbon Tiagra             Road       Endurance Road      Carbon    low      0.010851
Synapse Carbon 105               Road       Endurance Road      Carbon    low      0.012794
Synapse Carbon Disc 105          Road       Endurance Road      Carbon    low      0.019662
Synapse Carbon Disc Ultegra      Road       Endurance Road      Carbon    high     0.012794
Synapse Carbon Disc Ultegra D12  Road       Endurance Road      Carbon    high     0.000000
Synapse Carbon Ultegra 3         Road       Endurance Road      Carbon    high     0.011499
Synapse Carbon Ultegra 4         Road       Endurance Road      Carbon    low      0.011499
Synapse Claris                   Road       Endurance Road      Aluminum  low      0.009458
Synapse Disc 105                 Road       Endurance Road      Aluminum  low      0.020957
Synapse Disc Adventure           Road       Endurance Road      Aluminum  low      0.011499
Synapse Disc Tiagra              Road       Endurance Road      Aluminum  low      0.011499
Synapse Hi-Mod Disc Black Inc.   Road       Endurance Road      Carbon    high     0.005376
Synapse Hi-Mod Disc Red          Road       Endurance Road      Carbon    high     0.007417
Synapse Hi-Mod Disc Ultegra      Road       Endurance Road      Carbon    high     0.004082
Synapse Hi-Mod Dura Ace          Road       Endurance Road      Carbon    high     0.000000
Synapse Sora                     Road       Endurance Road      Aluminum  low      0.011499
Trail 1                          Mountain   Sport               Aluminum  low      0.024940
Trail 2                          Mountain   Sport               Aluminum  low      0.020309
Trail 3                          Mountain   Sport               Aluminum  low      0.004729
Trail 4                          Mountain   Sport               Aluminum  low      0.008163
Trail 5                          Mountain   Sport               Aluminum  low      0.011499
Trigger Carbon 1                 Mountain   Over Mountain       Carbon    high     0.002688
Trigger Carbon 2                 Mountain   Over Mountain       Carbon    high     0.000000
Trigger Carbon 3                 Mountain   Over Mountain       Carbon    high     0.002688
Trigger Carbon 4                 Mountain   Over Mountain       Carbon    high     0.030415
Length: 97, dtype: float64

In [39]:
custSegmentCntrs[4] # They match

0     0.022998
1     0.002041
2     0.002688
3     0.005376
4     0.026333
5     0.010851
6     0.027079
7     0.004082
8     0.020957
9     0.002688
10    0.007417
11    0.010204
12    0.004729
13    0.019563
14    0.012794
15    0.016974
16    0.014187
17    0.014187
18    0.010105
19    0.009458
20    0.009458
21    0.012794
22    0.011499
23    0.002041
24    0.007417
25    0.022449
26    0.002688
27    0.002688
28    0.002041
29    0.014834
        ...
67    0.009458
68    0.002041
69    0.017522
70    0.010851
71    0.016875
72    0.010851
73    0.012794
74    0.019662
75    0.012794
76    0.000000
77    0.011499
78    0.011499
79    0.009458
80    0.020957
81    0.011499
82    0.011499
83    0.005376
84    0.007417
85    0.004082
86    0.000000
87    0.011499
88    0.024940
89    0.020309
90    0.004729
91    0.008163
92    0.011499
93    0.002688
94    0.000000
95    0.002688
96    0.030415
Name: 4, Length: 97, dtype: float64

In [40]:
# Assign meaningful column names to dataframe
custSegmentCntrs.columns = ['x1', 'x2', 'x3', 'x4', 'x5']

In [41]:
custSegmentCntrs.head()

         x1        x2        x3        x4        x5
0  0.017843  0.012131  0.005509  0.010127  0.022998
1  0.004576  0.014289  0.000446  0.008157  0.002041
2  0.012125  0.014094  0.000267  0.012970  0.002688
3  0.019311  0.013655  0.002464  0.010810  0.005376
4  0.007549  0.010792  0.001801  0.005640  0.026333

Since each row corresponds to a particular bike model,cat,subcat,etc combination. We will append it to add clarity

In [42]:
custSegmentCntrs.index = model_pivot.index

### Cluster Inspection

Cluster x1:  ['Ithaca Mountain Climbers',
  'Pittsburgh Mountain Machines',
  'Tampa 29ers']

In [43]:
custSegmentCntrs.head()

,,,,,x1,x2,x3,x4,x5
model,category1,category2,frame,price,,,,,
Bad Habit 1,Mountain,Trail,Aluminum,high,0.017843,0.012131,0.005509,0.010127,0.022998
Bad Habit 2,Mountain,Trail,Aluminum,low,0.004576,0.014289,0.000446,0.008157,0.002041
Beast of the East 1,Mountain,Trail,Aluminum,high,0.012125,0.014094,0.000267,0.012970,0.002688
Beast of the East 2,Mountain,Trail,Aluminum,low,0.019311,0.013655,0.002464,0.010810,0.005376
Beast of the East 3,Mountain,Trail,Aluminum,low,0.007549,0.010792,0.001801,0.005640,0.026333

In [44]:
custSegmentCntrs['x1'].sort_values(ascending=False)[:10]

model                           category1  category2           frame     price
Scalpel-Si Carbon 3             Mountain   Cross Country Race  Carbon    high     0.034269
Jekyll Carbon 4                 Mountain   Over Mountain       Carbon    high     0.030282
Scalpel 29 Carbon Race          Mountain   Cross Country Race  Carbon    high     0.028039
Trigger Carbon 3                Mountain   Over Mountain       Carbon    high     0.025935
Habit Carbon 2                  Mountain   Trail               Carbon    high     0.023375
Trigger Carbon 4                Mountain   Over Mountain       Carbon    high     0.023261
Catalyst 4                      Mountain   Sport               Aluminum  low      0.021564
Jekyll Carbon 2                 Mountain   Over Mountain       Carbon    high     0.021079
Supersix Evo Hi-Mod Dura Ace 2  Road       Elite Road          Carbon    high     0.021058
Trigger Carbon 2                Mountain   Over Mountain       Carbon    high     0.021043
Name: x1, dtype: float64

Cluster 1 top 10 models purchased are predominantly high-end bikes of mountain category.

Cluster 2: ['Albuquerque Cycles',
  'Dallas Cycles',
  'Denver Bike Shop',
  'Detroit Cycles',
  'Kansas City 29ers',
  'Los Angeles Cycles',
  'Minneapolis Bike Shop',
  'New York Cycles',
  'Phoenix Bi-peds',
  'Portland Bi-peds',
  'Providence Bi-peds']

In [45]:
custSegmentCntrs['x2'].sort_values(ascending=False)[:10]

model                    category1  category2           frame     price
F-Si 2                   Mountain   Cross Country Race  Aluminum  low      0.021705
Catalyst 3               Mountain   Sport               Aluminum  low      0.019743
F-Si Carbon 4            Mountain   Cross Country Race  Carbon    high     0.017716
Trail 5                  Mountain   Sport               Aluminum  low      0.016265
CAAD8 Sora               Road       Elite Road          Aluminum  low      0.016141
CAAD12 Disc 105          Road       Elite Road          Aluminum  low      0.015987
CAAD8 105                Road       Elite Road          Aluminum  low      0.015796
Habit 4                  Mountain   Trail               Aluminum  high     0.015531
Synapse Carbon Disc 105  Road       Endurance Road      Carbon    low      0.015407
Trail 3                  Mountain   Sport               Aluminum  low      0.014985
Name: x2, dtype: float64

Cluster 2 top 10 bikes are primarily low end bikes and this cluster is similar to cluster 5.

 Cluster 3: ['Cincinnati Speed',
  'Columbus Race Equipment',
  'Las Vegas Cycles',
  'Louisville Race Equipment',
  'San Francisco Cruisers',
  'Wichita Speed']

In [46]:
custSegmentCntrs['x3'].sort_values(ascending=False)[:10]

model                           category1  category2       frame     price
Synapse Hi-Mod Disc Red         Road       Endurance Road  Carbon    high     0.024675
Slice Hi-Mod Black Inc.         Road       Triathalon      Carbon    high     0.023494
Supersix Evo Hi-Mod Dura Ace 1  Road       Elite Road      Carbon    high     0.023053
Slice Hi-Mod Dura Ace D12       Road       Triathalon      Carbon    high     0.022961
Synapse Hi-Mod Dura Ace         Road       Endurance Road  Carbon    high     0.021672
CAAD12 Red                      Road       Elite Road      Aluminum  high     0.021196
Synapse Carbon Disc Ultegra     Road       Endurance Road  Carbon    high     0.020239
Supersix Evo Ultegra 3          Road       Elite Road      Carbon    high     0.020187
Supersix Evo Hi-Mod Utegra      Road       Elite Road      Carbon    high     0.019819
Synapse Hi-Mod Disc Black Inc.  Road       Endurance Road  Carbon    high     0.019755
Name: x3, dtype: float64

Cluster 3 bikes are primarily road bikes that are high end.

Cluster 4: ['Ann Arbor Speed',
  'Austin Cruisers',
  'Indianapolis Velocipedes',
  'Miami Race Equipment',
  'Nashville Cruisers',
  'New Orleans Velocipedes',
  'Oklahoma City Race Equipment',
  'Seattle Race Equipment']

In [47]:
custSegmentCntrs['x4'].sort_values(ascending=False)[:10]

model                     category1  category2       frame     price
Synapse Disc Tiagra       Road       Endurance Road  Aluminum  low      0.024608
CAAD12 Red                Road       Elite Road      Aluminum  high     0.022889
Synapse Sora              Road       Endurance Road  Aluminum  low      0.022305
Slice Ultegra             Road       Triathalon      Carbon    low      0.022077
Supersix Evo Ultegra 3    Road       Elite Road      Carbon    high     0.021857
Synapse Disc 105          Road       Endurance Road  Aluminum  low      0.021122
Synapse Carbon Ultegra 4  Road       Endurance Road  Carbon    low      0.020372
CAAD12 Ultegra            Road       Elite Road      Aluminum  low      0.020073
Slice Ultegra D12         Road       Triathalon      Carbon    high     0.019531
Supersix Evo Ultegra 4    Road       Elite Road      Carbon    low      0.019435
Name: x4, dtype: float64

Cluster 4 top 10 bikes are primarily road bikes that are low end

In [48]:
custSegmentCntrs['x5'].sort_values(ascending=False)[:10]

model                category1  category2           frame     price
Slice Ultegra        Road       Triathalon          Carbon    low      0.055453
Trigger Carbon 4     Mountain   Over Mountain       Carbon    high     0.030415
CAAD12 105           Road       Elite Road          Aluminum  low      0.027079
Beast of the East 3  Mountain   Trail               Aluminum  low      0.026333
Trail 1              Mountain   Sport               Aluminum  low      0.024940
Bad Habit 1          Mountain   Trail               Aluminum  high     0.022998
F-Si Carbon 4        Mountain   Cross Country Race  Carbon    high     0.022449
CAAD12 Disc 105      Road       Elite Road          Aluminum  low      0.020957
Synapse Disc 105     Road       Endurance Road      Aluminum  low      0.020957
Trail 2              Mountain   Sport               Aluminum  low      0.020309
Name: x5, dtype: float64

Cluster 5 bikes are primarily low-end affordable bikes and a mix of road and mountain category. A mix of frame material as well.

### Agglomerative Clustering

In [49]:
from sklearn.cluster import AgglomerativeClustering

clustering = AgglomerativeClustering(n_clusters=5, affinity='euclidean', linkage='complete')
cluster_assignments = clustering.fit_predict(model_pivot.T)

In [52]:

clusters_new = {}
for idx, i in enumerate(cluster_assignments):
    if i in clusters_new:
        clusters_new[i].append(model_pivot.T.index[idx])
    else:
        clusters_new[i] = []
        clusters_new[i].append(model_pivot.T.index[idx])

In [54]:
print( 'Cluster Number', ':', 'Bikeshop Names')
clusters_new

Cluster Number : Bikeshop Names

{1: ['Albuquerque Cycles',
  'Dallas Cycles',
  'Denver Bike Shop',
  'Detroit Cycles',
  'Kansas City 29ers',
  'Los Angeles Cycles',
  'Minneapolis Bike Shop',
  'New York Cycles',
  'Phoenix Bi-peds',
  'Portland Bi-peds',
  'Providence Bi-peds'],
 4: ['Ann Arbor Speed',
  'Austin Cruisers',
  'Indianapolis Velocipedes',
  'Miami Race Equipment',
  'Nashville Cruisers',
  'New Orleans Velocipedes',
  'Oklahoma City Race Equipment'],
 2: ['Cincinnati Speed',
  'Columbus Race Equipment',
  'Las Vegas Cycles',
  'Louisville Race Equipment',
  'San Francisco Cruisers',
  'Wichita Speed'],
 3: ['Ithaca Mountain Climbers',
  'Pittsburgh Mountain Machines',
  'Tampa 29ers'],
 0: ['Philadelphia Bike Shop',
  'San Antonio Bike Shop',
  'Seattle Race Equipment']}

Comparing the results of Heirarchical clustering to k-means, I observe the following:
Cluster 3 (heirarchical) is identical to cluster 0 (k-means) which have high-end bikes of mountain category.
Cluster 1 in both cases are also identical.  
Difference between the two methods: 
Cluster 4(heirarchical) is identical to Cluster 3(k-means) with the exception of 'Seattle Race Equipment' now being classified in Cluster 0 using heirarchical.